<h1>{{ (heroe.id) ? 'Editar' : 'Nuevo' }} Héroe <small>{{ heroe.superhero }}</small></h1>
<div class="d-flex">
  <div class="column mb">
    <div class="d-flex">
      <mat-form-field class="column">
        <mat-label>Super Héroe</mat-label>
        <input matInput type="text" required [(ngModel)]="heroe.superhero" />
      </mat-form-field>
      <mat-form-field class="column">
        <mat-label>Alter Ego</mat-label>
        <input matInput type="text" required [(ngModel)]="heroe.alter_ego" />
      </mat-form-field>
    </div>
    <mat-form-field class="w-100">
      <mat-label>Primera Aparición</mat-label>
      <input matInput type="text" required [(ngModel)]="heroe.first_appearance" />
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Personajes</mat-label>
      <input matInput type="text" required [(ngModel)]="heroe.characters" />
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Creador</mat-label>
      <mat-select required [(ngModel)]="heroe.publisher">
        <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
          {{ publisher.desc }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Foto URL</mat-label>
      <input matInput type="text" required [(ngModel)]="heroe.alt_img" />
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" class="w-100 mb-button" (click)="guardar()">{{ (heroe.id) ? 'Editar' :
      'Crear' }}</button>
    <button *ngIf="heroe.id" mat-raised-button color="warn" class="w-100" (click)="borrarHeroe()">Borrar</button>
  </div>
  <div class="column center">
    <img [src]="heroe | imagen" alt="" />
  </div>
</div>
